.eleviq__courseinfo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: var(--color-textbox-light);
    margin-right: auto;
    margin-top: 5rem;
    width: 50%;

}

.eleviq__courseinfo-container{
    font-family: var(--font-family);
}

.eleviq__courseinfo-container h1{
    margin: 2rem 2rem 1rem 4rem;
    font-size: 28px;
}

.eleviq__courseinfo-container h4{
    margin: 0rem 2rem 1rem 4rem;
    font-size: 16px;
    flex-direction: row;
    
}

.eleviq__courseinfo-menu h2{
    font-family: var(--font-family);
}



