.eleviq__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-nav);

    padding: 1.5rem 2rem;
}

.eleviq__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.eleviq__navbar-links_logo {
    margin-right: 2rem;
}

.eleviq__navbar-links_logo img{
    width: 200px;
}

.eleviq__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.eleviq__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.eleviq__navbar-links_container p,
.eleviq__navbar-sign p,
.eleviq__navbar-menu_container p{
    color: #333333;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    
    margin: 0 1rem;
    cursor: pointer;
}

.eleviq__navbar-sign button,
.eleviq__navbar-menu_container button{
    padding: 0.75rem 1.25rem;
    color: #ffffff;
    background: var(--color-button);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.eleviq__navbar-menu{
    margin-left : 1rem;

    display: none;
    position: relative;
}

.eleviq__navbar-menu svg{
    cursor: pointer;
}

.eleviq__navbar-menu-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-nav);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.eleviq__navbar-menu-container p{
    margin: 1rem 0;
}

.eleviq__navbar-menu_container-links-sign{
    display: none;
}

@media screen and (max-width: 1050px){
    .eleviq__navbar-links_container {
        display:none;
    }

    .eleviq__navbar-menu{
        display: flex;
    }
}

@media screen and (max-width: 700px){
    .eleviq__navbar{
        padding: 2rem, 4rem;
    }
}

@media screen and (max-width: 550px){
    .eleviq__narbar{
        padding: 2rem;
    }

    .eleviq__navbar-sign{
        display: none;
    }

    .eleviq__navbar-menu_container {
        top: 20px;
    }

    .eleviq__navbar-menu_container-links-sign{
        display: block;
    }
}
