.eleviq__header{
    display: flex;
}

.eleviq__header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.eleviq__header-content h1{
    margin-left: 10px;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.eleviq__header-content p{
    margin-left: 10px;
    font-family: var (--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.eleviq__header-content__input{
    margin-left: 10px;
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
}

.eleviq__header-content__input input{
    margin-left: 10px;
    max-width: 50vw;
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    background: #dddddd;
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.eleviq__header-content__input button{
    max-width: 20vw;
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    background: var(--color-button);
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.eleviq__header-content__mountains1{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 2rem;
}

.eleviq__header-content__mountains1 img{
    width: 181.79px;
    height: 38px;
}

.eleviq__header-content__mountains1 p{
    margin-left: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.eleviq_header-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eleviq__header-image img{
    width: 100%;
    height: 100%;
}